body
{
    background-color: #d9d9f3;
    margin: 10px 0 ;
	padding: 0 ;
    font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
    margin: 5%;
}

div
{
    width: 100%;
    height: 100%;
}
div.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1.titre
{
    font-size: 3em;
}
h3.regles
{
    font-size: 1.5em;
}

/* pour toutes les cartes */
div.allcards
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

div.card
{
    transition: 1.5s;
    display: flex;
    width: 10em;
    height: 15em;
    margin: 1%;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.front, .back
{
    position: absolute;
    backface-visibility: hidden;
    width: 10em;
    height: 16em;
}

.front
{
    /* display: flex;
    align-items: center; */
    /* background: url(img/black.png) no-repeat; */
    background-position: center;
    background-size: 10em;
}
.back
{
    /* display: flex;
    justify-content: center; */
    /* background: url(img/dos.png) no-repeat; */
    background-position: center ;
    background-size: 10em; 
    transform: rotateY(0deg);
}

/* .back:hover
{
    transition: 0.3s;
    box-shadow: 0px 0px 20px 3px #0000;
} */


button#btn
{
    font-size: 1.5em;
    background-color: chocolate;
}
